<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Proyecto web de MasterD." />
    <meta name="author" content="Alexis Ramirez" />

    <title>CODE TECH</title>
    <!-- LIBRERIA BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- LIBRERIA ICONOS BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- BARRA DE NAVEGACION -->
    <header>
      <nav class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid">
          <a class="ms-3 navbar-brand d-flex align-items-center" href="#">
            <img
              src="../img/LOGOG.svg"
              alt="logo de la empresa"
              width="30"
              height="24"
            />
            <h5 class="display mb-0 ms-2 fw-bold">CODET TECH</h5>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ms-auto me-3 navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link button type1"
                  aria-current="page"
                  href="../index.html"
                >
                  <span class="btn-txt">Inicio</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link button type1" href="galeria.html">
                  <span class="btn-txt">Galeria</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link button type1 active" href="presupuesto.html">
                  <span class="btn-txt">Presupuesto</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link button type1" href="contacto.html">
                  <span class="btn-txt">Contacto</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- datos -->
      <div class="container-fluid">
        <div class="scrollSeccion">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 text-white">
              <form class="p-3 rounded-3" id="formDatos">
                <h2 class="text-center text-white">Datos</h2>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    placeholder="Tu nombre"
                  />
                </div>

                <div class="mb-3">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input
                    type="text"
                    class="form-control"
                    id="apellido"
                    name="apellido"
                    placeholder="Tu apellido"
                  />
                </div>

                <div class="mb-3">
                  <label for="telefono" class="form-label">Telefono</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="telefono"
                    name="telefono"
                    placeholder="Tu telefono"
                  />
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Tu email"
                  />
                </div>

                <!-- PRESUPUESTO -->

                <h2 class="text-center">Presupuesto</h2>
                <div class="mb-3">
                  <label for="producto" class="form-label"
                    >Elige el producto</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    id="producto"
                    name="producto"
                  >
                    <option selected>Producto</option>
                    <option value="paginaWeb">Pagina Web</option>
                    <option value="aplicacionWeb">Aplicacion Web</option>
                    <option value="rebranding">Rebranding</option>
                  </select>
                </div>

                <div class="mb-3">
                  <div class="mb-3">
                    <label for="cantidad" class="form-label">Plazo</label>
                    <input
                      type="number"
                      class="form-control"
                      id="cantidad"
                      name="cantidad"
                      min="1"
                      max="12"
                      step="1"
                      value="1"
                      required
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Extras</label>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value="200"
                          id="integracionRss"
                          name="integracionRss"
                        />
                        <label class="form-check-label" for="integracionRss">
                          Integracion de redes sociales
                        </label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="reservaOnline"
                          name="reservaOnline"
                        />
                        <label class="form-check-label" for="reservaOnline">
                          Reserva online
                        </label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="carritoCompras"
                          name="carritoCompras"
                        />
                        <label class="form-check-label" for="carritoCompras">
                          Carrito de compras
                        </label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="pasarelaPago"
                          name="pasarelaPago"
                        />
                        <label class="form-check-label" for="pasarelaPago">
                          Pasarela de pagos
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="presupuestoTotal">Presupuesto estimado</label>
                  <input
                    type="number"
                    class="form-control"
                    id="presupuestoTotal"
                    name="presupuestoTotal"
                    value="0"
                    disabled
                  />
                </div>
                <div>
                  <div class="form-check text-dark mt-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="condiciones"
                      name="condiciones"
                    />
                    <label class="form-check-label" for="condiciones">
                      He leido y acepto las condiciones y el aviso de privacidad
                    </label>
                    <button type="submit" class="btn btn-light">Enviar</button>
                    <input
                      type="reset"
                      class="btn btn-light"
                      value="Reiniciar"
                    />
                  </div>
                </div>
              </form>
              <!-- CONDICIONES Y ENVVIO -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- FOOTER -->
    <footer class="bg-light text-center p-3 mt-5">
      <div class="row">
        <div class="col-12">
          <ul class="">
            <li class="d-flex justify-content-center gap-3">
              <a href="https://facebook.com" target="_blank" class="text-dark">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://instagram.com" target="_blank" class="text-dark">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="https://github.com" target="_blank" class="text-dark">
                <i class="bi bi-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>© 2025 Copyright 2025: CodeTech <br />Madrid - España</p>
        </div>
      </div>
    </footer>

    <!--script de validación -->
    <script src="../js/validateForm.js"></script>
  </body>
</html>
